<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <title>Vocabulary List</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <div class="formContainer">
                <form action="/addVocabulary" method="post">
                    <input class="vocabulary-input"type="text" name="vocabulary" placeholder="Enter a new word or phrase..." required>
                    <input class="submit-input"type="submit" value="+">
                </form>
            </div>
           
        
        </div>

       
       
    </div>
    <p></p>
    <ul>
        
        <% for(let i = 0; i < word.length; i++){ %>
        <li> <%= word[i].VocabularyString %></li>
        <%} %>
        
        
    </ul>




</body>
</html>